In [2]:
import pandas as pd
import numpy as np

# Load Naukri data
df_india = pd.read_csv('data/raw/naukri_india_jobs_raw.csv')

print("Dataset Shape:", df_india.shape)
print("\nColumn Names:")
print(df_india.columns.tolist())
print("\nFirst 5 rows:")
print(df_india.head())
print("\nData Types:")
print(df_india.dtypes)
print("\nMissing Values:")
print(df_india.isnull().sum())

# Check unique values
print("\n=== DATA SAMPLE ===")
if 'Job Title' in df_india.columns:
    print("\nTop 10 Job Titles:")
    print(df_india['Job Title'].value_counts().head(10))

Dataset Shape: (22000, 14)

Column Names:
['company', 'education', 'experience', 'industry', 'jobdescription', 'jobid', 'joblocation_address', 'jobtitle', 'numberofpositions', 'payrate', 'postdate', 'site_name', 'skills', 'uniq_id']

First 5 rows:
                                      company  \
0                            MM Media Pvt Ltd
1                          find live infotech
2         Softtech Career Infosystem Pvt. Ltd
3                      Onboard HRServices LLP
4  Spire Technologies and Solutions Pvt. Ltd.

                                           education   experience  \
0  UG: B.Tech/B.E. - Any Specialization PG:Any Po...    0 - 1 yrs
1  UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...    0 - 0 yrs
2  UG: Any Graduate - Any Specialization PG:Any P...    4 - 8 yrs
3  UG: Any Graduate - Any Specialization PG:CA Do...  11 - 15 yrs
4  UG: B.Tech/B.E. - Any Specialization PG:Any Po...    6 - 8 yrs

                                   industry  \
0          Media / Entertainment / Internet
1  Advertising / PR / MR / Event Management
2           IT-Software / Software Services
3    Banking / Financial Services / Broking
4           IT-Software / Software Services

                                      jobdescription         jobid  \
0  Job Description Â  Send me Jobs like this Quali...  210516002263
1  Job Description Â  Send me Jobs like this Quali...  210516002391
2  Job Description Â  Send me Jobs like this - as ...  101016900534
3  Job Description Â  Send me Jobs like this - Inv...   81016900536
4  Job Description Â  Send me Jobs like this Pleas...  120916002122

                                 joblocation_address  \
0                                            Chennai
1                                            Chennai
2                                          Bengaluru
3  Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...
4                                          Bengaluru

                                   jobtitle  numberofpositions  \
0  Walkin Data Entry Operator (night Shift)                NaN
1        Work Based Onhome Based Part Time.               60.0
2                    Pl/sql Developer - SQL                NaN
3    Manager/ad/partner - Indirect Tax - CA                NaN
4           JAVA Technical Lead (6-8 yrs) -                4.0

                          payrate                   postdate site_name  \
0         1,50,000 - 2,25,000 P.A  2016-05-21 19:30:00 +0000       NaN
1  1,50,000 - 2,50,000 P.A. 20000  2016-05-21 19:30:00 +0000       NaN
2      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000       NaN
3      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000       NaN
4      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000       NaN

                                  skills                           uniq_id
0                                   ITES  43b19632647068535437c774b6ca6cf8
1                              Marketing  d4c72325e57f89f364812b5ed5a795f0
2  IT Software - Application Programming  c47df6f4cfdf5b46f1fd713ba61b9eba
3                               Accounts  115d28f140f694dd1cc61c53d03c66ae
4  IT Software - Application Programming  a12553fc03bc7bcced8b1bb8963f97b4

Data Types:
company                 object
education               object
experience              object
industry                object
jobdescription          object
jobid                    int64
joblocation_address     object
jobtitle                object
numberofpositions      float64
payrate                 object
postdate                object
site_name               object
skills                  object
uniq_id                 object
dtype: object

Missing Values:
company                    4
education               1996
experience                 4
industry                   5
jobdescription             4
jobid                      0
joblocation_address      501
jobtitle                   0
numberofpositions      17536
payrate                   97
postdate                  23
site_name              18013
skills                   528
uniq_id                    0
dtype: int64

=== DATA SAMPLE ===

In [18]:
job_title_col = "jobtitle"

In [20]:
import pandas as pd
import numpy as np
import re

# Load data
df = pd.read_csv('data/raw/naukri_india_jobs_raw.csv')
print(f"Original data: {len(df)} rows")

# Print actual column names
print("\nColumn names:", df.columns.tolist())

# ===== FIX COLUMN MAPPING FOR YOUR DATA =====
job_title_col = 'jobtitle'
company_col = 'company'
location_col = 'joblocation_address'
experience_col = 'experience'
salary_col = 'payrate'
skills_col = 'skills'

# ===== CATEGORIZE JOB ROLES =====
def categorize_job_role(title):
    title_lower = str(title).lower()

    # Data roles
    if any(word in title_lower for word in ['data scientist','machine learning','ml engineer','ai engineer']):
        return 'Data Scientist/ML'
    elif any(word in title_lower for word in ['data analyst','analytics','business intelligence']):
        return 'Data Analyst'
    elif any(word in title_lower for word in ['data engineer','etl','big data']):
        return 'Data Engineer'

    # Software Development
    elif any(word in title_lower for word in ['full stack','mern','mean']):
        return 'Full Stack Developer'
    elif any(word in title_lower for word in ['frontend','react','angular','vue']):
        return 'Frontend Developer'
    elif any(word in title_lower for word in ['backend','node','django','spring']):
        return 'Backend Developer'
    elif any(word in title_lower for word in ['software engineer','software developer','sde','programmer']):
        return 'Software Engineer'
    elif any(word in title_lower for word in ['mobile','android','ios','flutter']):
        return 'Mobile Developer'

    # DevOps & Cloud
    elif any(word in title_lower for word in ['devops','sre']):
        return 'DevOps Engineer'
    elif any(word in title_lower for word in ['cloud','aws','azure','gcp']):
        return 'Cloud Engineer'

    # Others
    elif any(word in title_lower for word in ['qa','test','sdet']):
        return 'QA/Test Engineer'
    elif any(word in title_lower for word in ['security','cyber']):
        return 'Security Engineer'
    elif any(word in title_lower for word in ['product manager','product owner']):
        return 'Product Manager'
    elif any(word in title_lower for word in ['business analyst','ba ']):
        return 'Business Analyst'
    elif any(word in title_lower for word in ['ui/ux','designer']):
        return 'UI/UX Designer'

    return 'Other IT Role'

df['job_category'] = df[job_title_col].apply(categorize_job_role)

print("\nJob Category Distribution:")
print(df['job_category'].value_counts())

# ===== CLEAN SALARY =====
def clean_salary_india(salary_str):
    if pd.isna(salary_str) or salary_str == 'Not disclosed':
        return np.nan, np.nan

    salary_str = str(salary_str).lower()
    numbers = re.findall(r'\d+\.?\d*', salary_str)

    if len(numbers) >= 2:
        min_sal, max_sal = float(numbers[0]), float(numbers[1])
        return min_sal, max_sal
    elif len(numbers) == 1:
        return float(numbers[0]), float(numbers[0])

    return np.nan, np.nan

df[['min_salary_lpa','max_salary_lpa']] = df[salary_col].apply(
    lambda x: pd.Series(clean_salary_india(x))
)
df['avg_salary_lpa'] = (df['min_salary_lpa'] + df['max_salary_lpa']) / 2
print(f"\nSalary cleaned!")

# ===== CLEAN EXPERIENCE =====
def clean_experience(exp_str):
    if pd.isna(exp_str):
        return np.nan, np.nan
    nums = re.findall(r'\d+', str(exp_str))
    if len(nums) >= 2:
        return float(nums[0]), float(nums[1])
    elif len(nums) == 1:
        return float(nums[0]), float(nums[0])
    return np.nan, np.nan

df[['min_experience','max_experience']] = df[experience_col].apply(
    lambda x: pd.Series(clean_experience(x))
)
df['avg_experience'] = (df['min_experience'] + df['max_experience']) / 2
print("Experience cleaned!")

# ===== SKILLS EXTRACTION =====
skills_dict = {
    'python': ['python'],
    'java': ['java'],
    'javascript': ['javascript','node'],
    'sql': ['sql','mysql'],
    'excel': ['excel'],
    'tableau': ['tableau'],
    'power_bi': ['power bi'],
    'react': ['react'],
    'angular': ['angular'],
    'aws': ['aws'],
    'azure': ['azure'],
}

df['desc_lower'] = df[skills_col].fillna('').str.lower()

for skill, keywords in skills_dict.items():
    df[f'skill_{skill}'] = df['desc_lower'].apply(
        lambda x: 1 if any(k in x for k in keywords) else 0
    )

df.drop('desc_lower', axis=1, inplace=True)
print("âœ“ Skills extracted!")

# ===== CLEAN LOCATION =====
def clean_location(loc):
    if pd.isna(loc):
        return "Unknown"
    loc = str(loc).lower()
    city_map = {
        'bangalore':'Bangalore','blr':'Bangalore',
        'mumbai':'Mumbai',
        'delhi':'Delhi','noida':'Noida','gurgaon':'Gurgaon','gurugram':'Gurgaon',
        'pune':'Pune',
        'chennai':'Chennai',
        'hyderabad':'Hyderabad',
    }
    for key,val in city_map.items():
        if key in loc:
            return val
    return loc.title()

df['city_clean'] = df[location_col].apply(clean_location)
print("âœ“ Location cleaned!")

# ===== SENIORITY =====
def seniority(title):
    t = str(title).lower()
    if any(w in t for w in ['senior','lead','principal']):
        return 'Senior'
    elif any(w in t for w in ['junior','intern','fresher']):
        return 'Junior'
    return 'Mid-Level'

df['seniority'] = df[job_title_col].apply(seniority)

# ===== COUNTRY =====
df['country'] = 'India'

# ===== REMOVE DUPLICATES =====
print(f"\nBefore duplicates: {len(df)}")
df = df.drop_duplicates(subset=[job_title_col, company_col], keep='first')
print(f"After duplicates: {len(df)}")

# ===== FINAL COLUMNS =====
skill_cols = [c for c in df.columns if c.startswith('skill_')]

df_clean = df[
    [job_title_col, company_col, 'city_clean', 'country', 'job_category',
     'avg_salary_lpa','min_salary_lpa','max_salary_lpa',
     'avg_experience','min_experience','max_experience',
     'seniority'] + skill_cols
]

df_clean = df_clean.rename(columns={
    job_title_col: 'job_title',
    company_col: 'company',
    'city_clean': 'location'
})

df_clean.to_csv('data/processed/india_jobs_cleaned.csv', index=False)

print("\nCLEANING COMPLETE! ðŸš€")
print(f"Final rows: {len(df_clean)}")
print(df_clean.head())

Original data: 22000 rows

Column names: ['company', 'education', 'experience', 'industry', 'jobdescription', 'jobid', 'joblocation_address', 'jobtitle', 'numberofpositions', 'payrate', 'postdate', 'site_name', 'skills', 'uniq_id']

Job Category Distribution:
job_category
Other IT Role           18460
Software Engineer         828
Mobile Developer          529
QA/Test Engineer          497
UI/UX Designer            485
Business Analyst          231
Data Analyst              203
Security Engineer         123
Backend Developer         114
Cloud Engineer             94
Product Manager            93
Frontend Developer         91
Data Engineer              90
Data Scientist/ML          62
DevOps Engineer            51
Full Stack Developer       49
Name: count, dtype: int64

Salary cleaned!
Experience cleaned!
âœ“ Skills extracted!
âœ“ Location cleaned!

Before duplicates: 22000
After duplicates: 20849

CLEANING COMPLETE! ðŸš€
Final rows: 20849
                                  job_title  \
0  Walkin Data Entry Operator (night Shift)
1        Work Based Onhome Based Part Time.
2                    Pl/sql Developer - SQL
3    Manager/ad/partner - Indirect Tax - CA
4           JAVA Technical Lead (6-8 yrs) -

                                      company   location country  \
0                            MM Media Pvt Ltd    Chennai   India
1                          find live infotech    Chennai   India
2         Softtech Career Infosystem Pvt. Ltd  Bengaluru   India
3                      Onboard HRServices LLP     Mumbai   India
4  Spire Technologies and Solutions Pvt. Ltd.  Bengaluru   India

    job_category  avg_salary_lpa  min_salary_lpa  max_salary_lpa  \
0  Other IT Role            25.5             1.0            50.0
1  Other IT Role            25.5             1.0            50.0
2  Other IT Role             NaN             NaN             NaN
3  Other IT Role             NaN             NaN             NaN
4  Other IT Role             NaN             NaN             NaN

   avg_experience  min_experience  ...  skill_java skill_javascript  \
0             0.5             0.0  ...           0                0
1             0.0             0.0  ...           0                0
2             6.0             4.0  ...           0                0
3            13.0            11.0  ...           0                0
4             7.0             6.0  ...           0                0

   skill_sql  skill_excel  skill_tableau  skill_power_bi  skill_react  \
0          0            0              0               0            0
1          0            0              0               0            0
2          0            0              0               0            0
3          0            0              0               0            0
4          0            0              0               0            0

   skill_angular  skill_aws  skill_azure
0              0          0            0
1              0          0            0
2              0          0            0
3              0          0            0
4              0          0            0

[5 rows x 23 columns]